


body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#main2{
    display:grid;
    width: 475px;
    height: 275px;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10,30px);
    background: radial-gradient(circle at center, rgb(255, 194, 194) 0%, red 100%);
}
#russenavn{
    padding-top: 10px;
    font-size: 30px;
    letter-spacing: 0.4em;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 3;
}
#russetype{
    font-size: 50px;
    display: grid;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 7;
}
#name{
    display: grid;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 7;
}
#mail{
    display: grid;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 8;
}
#sitat{
    display: grid;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 9;
}
#bilde{
    transform: rotate(-5deg);
    display: grid;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 7;
    height: 200px;
    width: 100px;
    object-fit: cover;

}
#russelue{
    display: grid;
    width: 50px;
    height: 50px;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 7;
    z-index: 2;
    margin-left: -15px;
    margin-top: -5px;
}