


body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 100px;
}
#main2{
    display:grid;
    width: 475px;
    height: 275px;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10,30px);
    background: radial-gradient(circle at center, rgb(255, 194, 194) 0%, red 100%);
}
#russenavn{
    padding-top: 10px;
    font-size: 30px;
    white-space: nowrap; 
    display: grid;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 3;
}
#russetype{
    font-size: 45px;
    display: grid;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 7;
}
#navn{
    display: grid;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 7;
}
#telf{
    display: grid;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 8;
}
#sitat{
    display: grid;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 9;
}
#bilde{
    transform: rotate(-5deg);
    display: grid;
    object-fit: cover;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 7;
    height: 150px;
    width: 70px;
}

#main_input{
    background-color: blanchedalmond;
    padding: 25px;
}


#russelue{
    display: grid;
    width: 50px;
    height: 50px;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 7;
    z-index: 2;
    margin-left: -15px;
    margin-top: -5px;
}
.russeFont {
    font-family: "Graduate", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 300px; /*endre dette til det du ønsker */
    }

    #main_input > form > p{
        margin-bottom: 0px;
    }